{% extends "base.html" %}
{% load static %}

{% block extrahead %}
    <link rel="manifest" href="/manifest.json" />
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
      var OneSignal = window.OneSignal || [];
      OneSignal.push(function() {
        OneSignal.init({
          appId: "1c52ee9f-71ed-4081-9c54-e66a815538ac",
          autoRegister: false,
          notifyButton: {
            enable: false,
          },
          httpPermissionRequest: {
            enable: true
          },
        });
      });
    </script>
    <script>
    function onManageWebPushSubscriptionButtonClicked(event) {
      getSubscriptionState()
        .then(function(state) {
          if (state.isPushEnabled) {
            /* Subscribed, opt them out */
            OneSignal.setSubscription(false);
            /* ToDo: unsubscribe User */
            OneSignal.getUserId().then(console.log);
          } else {
            if (state.isOptedOut) {
              /* Opted out, opt them back in */
               OneSignal.setSubscription(true);
            } else {
               /* Unsubscribed, subscribe them */
               OneSignal.registerForPushNotifications();
            }
            OneSignal.getUserId().then(console.log);
            /* ToDo: subscribe User */
          }
        });
      event.preventDefault();
    }

    function updateMangeWebPushSubscriptionButton(buttonSelector) {
      var hideWhenSubscribed = true;
      var subscribeText = "Subscribe to Notifications";
      var unsubscribeText = "Unsubscribe from Notifications";

      getSubscriptionState().then(function(state) {
        var buttonText = !state.isPushEnabled || state.isOptedOut ? subscribeText : unsubscribeText;

        var element = document.querySelector(buttonSelector);
        if (element === null) {
          return;
        }

        element.removeEventListener('click', onManageWebPushSubscriptionButtonClicked);
        element.addEventListener('click', onManageWebPushSubscriptionButtonClicked);
        element.value = buttonText;

        if (hideWhenSubscribed && state.isPushEnabled) {
          element.style.display = "none";
        } else {
          element.style.display = "";
        }
      });
    }

    function getSubscriptionState() {
      return Promise.all([
        OneSignal.isPushNotificationsEnabled(),
        OneSignal.isOptedOut(),
      ])
        .then(function(result) {
          var isPushEnabled = result[0];
          var isOptedOut = result[1];

          return {
            isPushEnabled: isPushEnabled,
            isOptedOut: isOptedOut,
          };
        });
    }

    var buttonSelector = "#my-notification-button";

    /* This example assumes you've already initialized OneSignal */
    OneSignal.push(function() {
      // If we're on an unsupported browser, do nothing
      if (!OneSignal.isPushNotificationsSupported()) {
        return;
      }
      updateMangeWebPushSubscriptionButton(buttonSelector);
      OneSignal.on("subscriptionChange", function(isSubscribed) {
        /* If the user's subscription state changes during the page's session, update the button text */
        updateMangeWebPushSubscriptionButton(buttonSelector);
      });
      OneSignal.getUserId().then(console.log);
    });
    </script>
{% endblock %}

{% block content %}
<h1><img class="logo" src="{% static 'img/performing-arts.svg' %}"><img class="logo" src="{% static 'img/alarm-clock.svg' %}"> &nbsp; TheaterWecker</h1>
<div>
<p>
  Wusstest du, dass du als Chemnitzer Student mit deinem <strong>Studentenausweis</strong> 15 Minuten vor Beginn einer Theatervorstellung <strong>kostenlos</strong> rein kommst, wenn noch Tickets vorhanden sind? <span class="cite">*</span>
</p>
<p>
  Lass dich einfach von uns benachrichtigen, wenn kurz vor der Veranstaltung noch Tickets frei sind.
</p>
<p>
  Jetzt auch als Android App.
  <a href="https://play.google.com/store/apps/details?id=de.codeforchemnitz.theaterwecker"><img class="google_play_badge" src="{% static 'img/google-play-badge.png' %}"></a>
</p>
<div class="horizontal"></div>
<form action="{% url 'app:subscribe' %}" method="post">
  <p>Benachrichtige mich</p>
  <div class="button-group">
    <input type="radio" name="interval" id="interval2" value="00:30:00">
    <label class="button" for="interval2">30 Minuten</label>
    <input type="radio" name="interval" id="interval3" value="01:00:00">
    <label class="button" for="interval3">1 Stunde</label>
    <input type="radio" name="interval" id="interval4" value="02:00:00">
    <label class="button" for="interval4">2 Stunden</label>
    <input type="radio" name="interval" id="interval5" value="04:00:00">
    <label class="button" for="interval5">4 Stunden</label>
  </div>

  <p>vor Beginn der Veranstaltung – sofern noch Plätze frei sind – für</p>

  <div class="button-group">
    {% for category in categories %}
      <input type="checkbox" name="categories" id="category{{ category.id }}" value="{{ category.pk }}">
      <label class="button" for="category{{ category.pk }}">{{ category.name }}</label>
    {% endfor %}
  </div>

  <p>via E-Mail</p>

  <div class="button-group">
    <input class="button" type="email" name="email" placeholder="max@mustermann.de" required>
  </div>

  <input class="button" type="button" value="Push Benachrichtigungen" id="my-notification-button">

  <div class="button-group">
    <input class="button" type="submit" value="Abonnieren">
  </div>

  {% csrf_token %}
</form>

</div>
{% endblock %}

{% block footnote %}
<div class="footnote">
  * Dies ist mit dem <a href="https://www.tu-chemnitz.de/stura/de/kulturticket">Kulturticket</a> deines Studentenausweises möglich.
</div>
{% endblock %}
