{% extends "base.html" %}
{% load static %}

{% block extrahead %}
    <link rel="manifest" href="/manifest.json" />
    <script>
    let osBlocked = false;
    function setOSBlocked(state) {
      osBlocked = state;
    }</script>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async="" onerror="setOSBlocked(true)"></script>
    <script>
      const ONE_SIGNAL_APP_ID = '{{ ONE_SIGNAL_APP_ID }}';
    </script>
    <script src="{% static 'os.js' %}"></script>
{% endblock %}
{% block extrascript %}
  <script>
    const subscribeButton = document.querySelector("#subscribe-button");
    if (!osBlocked) {
      subscribeButton.addEventListener('click', subscribe, true);
    } else {
      document.querySelector(".os-blocked").style.display = 'block';
      subscribeButton.parentNode.style.display = 'none';
    }
  </script>
{% endblock %}

{% block content %}
<h1><img class="logo" src="{% static 'img/performing-arts.svg' %}"><img class="logo" src="{% static 'img/alarm-clock.svg' %}"> &nbsp; TheaterWecker</h1>
<div>
<p>
  Wusstest du, dass du als Chemnitzer Student mit deinem <strong>Studentenausweis</strong> 15 Minuten vor Beginn einer Theatervorstellung <strong>kostenlos</strong> rein kommst, wenn noch Tickets vorhanden sind? <span class="cite">*</span>
</p>
<p>
  Lass dich einfach von uns benachrichtigen, wenn kurz vor der Veranstaltung noch Tickets frei sind.
</p>
<div class="horizontal"></div>
<form action="{% url 'app:subscribe' %}" method="post" id="subscribe-form">
  <p>Benachrichtige mich</p>
  <div class="button-group">
    <input type="radio" name="interval" id="interval2" value="00:30:00">
    <label class="button" for="interval2">30 Minuten</label>
    <input type="radio" name="interval" id="interval3" value="01:00:00">
    <label class="button" for="interval3">1 Stunde</label>
    <input type="radio" name="interval" id="interval4" value="02:00:00">
    <label class="button" for="interval4">2 Stunden</label>
    <input type="radio" name="interval" id="interval5" value="04:00:00">
    <label class="button" for="interval5">4 Stunden</label>
  </div>

  <p>vor Beginn der Veranstaltung – sofern noch Plätze frei sind – für</p>

  <div class="button-group">
    {% for category in categories %}
      <input type="checkbox" name="categories" id="category{{ category.id }}" value="{{ category.pk }}">
      <label class="button" for="category{{ category.pk }}">{{ category.name }}</label>
    {% endfor %}
  </div>
<div class="subscribe-group">
  <div class="subscribe-element">
    <p>via E-Mail</p>

    <div class="button-group">
      <input class="button" type="email" name="email" placeholder="max@mustermann.de" required>
    </div>

    <div class="button-group">
      <input class="button" type="submit" value="Abonnieren">
    </div>
  </div>
  <div class="subscribe-element">
    <p>via Web-Push</p>
    <p class="os-blocked">Bitte deaktiviere für diese Funktion Deinen AddBlocker!</p>
    <input type="hidden" name="device">
    <div class="button-group" style="margin-top: 0">
      <input class="button" type="submit" value="Abonnieren" id="subscribe-button">
    </div>
  </div>
</div>
  {% csrf_token %}
</form>

</div>
{% endblock %}

{% block footnote %}
<div class="footnote">
  * Dies ist mit dem <a href="https://www.tu-chemnitz.de/stura/de/kulturticket">Kulturticket</a> deines Studentenausweises möglich.
</div>
{% endblock %}
