# Created by .ignore support plugin (hsz.mobi)

*.pyc
__pycache__
.idea
/static
celerybeat.pid

/db.sqlite3

/theaterwecker/settings_mailgun.py
/theaterwecker/settings_raven.py
/theaterwecker/settings_prod.py
/theaterwecker/settings_one_signal.py
/theaterwecker/settings_dev.py
/celerybeat.pid
