{% load static %}

<html>
<head>
  <meta charset="utf-8">

  <title>TheaterWecker</title>
  <link rel="stylesheet" href="{% static 'fonts.css' %}">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <meta name="viewport" content="initial-scale=1.0, width=device-width">
</head>
<body>

  {% block content %}{% endblock %}
  <div class="footer">
    {% block footnote %}{% endblock %}
    Made with ♥ by <a href="http://codeforchemnitz.de/">Code for Chemnitz</a>
  </div>
  <div class="footer">
    Emoji art supplied by <a href="http://emojione.com/">EmojiOne</a>
  </div>
</body>
</html>
